.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.home-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}
.home-header a{
    margin-right: 20px;
    text-decoration: inherit;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
}
.home-header a:hover{
    
    text-decoration: underline;
}
.home-header-right{
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}
.home-header-right > .MuiSvgIcon-root{
    margin-right: 1.8vw;
}
.home-header-left{
    display: flex;
    align-items: center;
}
.home-body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    flex-direction: column;
}
.home-body img{
    object-fit: contain;
    height: 25vh;
    margin-top: 6rem;
}